parameters:
    level: 8
    paths:
        - src
        - types
    excludePaths:
            analyse:
                - src/Testing
                - src/Experimental

    reportUnmatchedIgnoredErrors: true
